.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    animation: dropDown 0.5s ease forwards;
}

@keyframes dropDown {
    from {
        height: 0;
    }
    to {
        height: 100vh;
    }
}
